name: CI

on:
    push:
        branches: [main, dev, '**/feature/**']
    pull_request:
        branches: [main, dev]

jobs:
    build-and-lint:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Use Node.js 20
              uses: actions/setup-node@v4
              with:
                  node-version: 20
                  cache: 'npm'

            - name: Install dependencies
              run: npm ci

            - name: Lint
              run: npm run lint

            - name: Build
              run: npm run build
