---
name: Generate and Deploy Documentation

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy-docs:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Deploy to GitHub Pages
        uses: totaldebug/sphinx-publish-action@master
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
